/*默认样式*/
html, body, h1, h2, h3, h4, h5, h6, p, pre, ul, ol, li, form, input, textarea {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font: 16px "Microsoft YeHei", "sans-serif";
    color: #333333;
}
b,strong,em,i,del,s{
    font-weight: 300;
    text-decoration: none;
    font-style: normal;
}
a {
    text-decoration: none;
    color: #333333;
}
img{
    border: none;
}